<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>
</head>
<body>
<!--<nav class="navbar" th:fragment="header(member)">-->
<!--    <div class="nav-container">-->
<!--        <a href="/" class="nav-logo">BOARD</a>-->
<!--        <div class="nav-right">-->
<!--            <span class="nav-user" th:text="|${member.memberName}님|"></span>-->
<!--            <a href="/api/auth/logout" class="nav-link">로그아웃</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo">BOARD</a>
        <div class="nav-right">
            <span class="nav-user"></span>
            <a href="/api/auth/logout" class="nav-link">로그아웃</a>
        </div>
    </div>
</nav>
</body>
</html>